*{
    font-family: "Poppins" , sans-serif;
    margin: 0;
    padding: 0;
}
span{
    color: #ff5361;
}
.header{
    min-height: : 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/wallpaper.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 50px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}
.register-btn{
    background: #ff5361;
    color: #fff;
    padding: 8px 20px;
    border-radius: 90px;
    text-align: center;
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.container{
    padding: : 0px 7%;
}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 32.5%;
}
.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 90px;
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    background: #F08080;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 20px;
    margin-top: 7px;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 600; 
}
.sub-title{
    margin: 50px 10px 20px;
    text-align: center;
    color: #000;

}
.exclusives{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}
.exclusives div img{
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
.exclusives div{
    cursor: pointer;
    position: relative;
}
.exclusives div span{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.trending{
    cursor: pointer;
    margin: 10px;
    font: sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.trending div img{
    cursor: pointer;
    width: 100%;
    border-radius: 35px;
}
.trending h3{
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}
.cta{
    margin: 80px 10PX;
    background-image: linear-gradient(to right, #3f2321, transparent), url(images/b1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p{
    font-size: 18px;
    margin: 10px 0;
}
.cta-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}
.stories{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.stories div img{
    width: 100%;
    border-radius: 10px;
}
.stories div{
    position: relative;
    text-align: center;
}
.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 26px;
}
.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
}
.about-msg{
    
    text-align: center;
    margin: 80px 10px;
    color: #333;
    font-size: 17px;
}
.about-msg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}
.about-msg p{ 
    margin-left: 90px;
    margin-right: 90px;
    text-align: justify;
}

.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p{
    padding-bottom: 15px;
}
.active{
    position: relative;
}
.active::after{
    content: '';
    background: #F08080;
    width: 50px;
    height: 1.5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}
nav .fa-bars{
    display: none;
}
@media only screen and (max-width: 700px){
    .logo {
        position: absolute;
        top: 4%;
        left: 16%;
    }
    .nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: none;
    }
    .register-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right; 7%;
        color: #ff5361;
        font-size: 28px;
    }
    .active::after{
    left: -40px;
    transform: translate(0,50%);
    bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
        
    }
    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }
    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .search-bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .sub-title{
        font-size: 6vw; 
    }
    .cta{
        padding: 15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    .stories p{
        font-size: 18px;
    }
    .about-msg{
        font-size: 14px;
    }
}


.kedarnath{
    margin: 30px;
    font: sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.kedarnath div img{
    width: 100%;
    border-radius: 10px;
}
.navbar-white{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/snip2.PNG);
    background-size: cover;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.navbar-white1{
    
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.navbar-white .nav-links li a{
    color: #fff;
}
.navbar-white .register-btn{
    background: #ff5361;
    color: #fff;
}
nav.navbar-white  .fa-bars{
    color: #fff;
}
.navbar-white .active::after {
    background: #ff5361;
}

.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
flex-basis:70%;
    
}
.right-col{
    flex-basis:25%;
    
}
.left-col h1{
color: #333;
font-weight: 600;
margin-bottom: 30px;
}
.house{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 30px 0;
border-top: 1px solid #ccc;
}
.house-image{
flex-basis: 40%;
margin: 10px;
}
.image{
 flex-basis: 40%;
margin: 10px;   
}
.house-info{
    margin-top: 10px;
    margin-left:10px;
flex-basis: 55%;
color: #555;
}
.house-image img{
width: 100%;
border-radius: 22px;
}
.image img{
    margin-left: 90px;
     height:15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}
.house-info p{
    margin-bottom: 10px;
}
.house-info h3{
font-weight: 700;
cursor: pointer;
color: #333;
font-size: 22px;
margin: 10px 0px;
}

.house-info i{
color: #ff5361;
font-size: 17px;
margin: 10px 1px;
}
.house-price{
text-align: right;
}
.house-price h4{
font-size: 20px;
}
.house-price h4 span{
font-size: 16px;
font-weight: 500;
}
.sidebar{
background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/wallpaper.jpg);
background-size: cover;
color: #fff;
border: 1px solid #fff;
padding: 20px 30px;
margin-top: 100px;
margin-right: 10px;
}
.sidebar h2{
font-weight:500;
}
.sidebar h3{
font-weight:500;
margin: 20px 0 10px;
}
.filter{
display:flex;
align-items:center;
color:#fff;
margin-bottom: 10px;
}
.filter p{
cursor: pointer;
flex:1;
}
.filter input{
margin-right:15px;
cursor:pointer;
}
.sidebar-link{
text-align: right;
margin: 20px 0;
}
.sidebar-link a{
text-decoration:none;
}
.pagination{
display:flex;
align-items: center;
justify-content: center;
margin: 40px 0;
}
.pagination img{
width:15px;
margin: 10px 20px;
}
.right-arrow{
transform: rotate (180deg);
}
.pagination span{
margin: 10px 8px;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
border-radius: 50%;
cursor:pointer;
}
.pagination .current{
background:#333;
color: #fff;
}


.reivew{
    
    
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
}
.reivew .box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    border-radius: .5rem;
    background-color: #08113B;
    margin: 10px;
    padding: 2rem;
    position: relative;
}

.reivew .box .fa-quote-right{
   
    position: absolute;
    top:1rem; 
    color: #ff5361;
    right: 0.6rem;
    font-size: 3rem;
}

.reivew .box .user{
     
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding-bottom: 1rem;
    
}

.reivew .box .user img{
    
    height:7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reivew .box .user h3{
    font-size: 2rem;
    color:#fff;
}

.reivew .box .user span{
    font-size: 1.6rem;
    color:#ff5361;
}

.reivew .box p{
    line-height: 2;
    color:#fff;

    font-size: 1.2rem;
}

